.form {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.formField {
  margin-right: 30px;
}
.labelText {
  margin-right: 10px;
}
.formButton {
  height: 20px;
  width: 100px;
}
@media screen and (max-width: 500px) {
  .form {
    display: block;
  }
  .formField {
    display: block;
    margin-right: 0;
  }
}

.borderRed {
  border-color: red;
}
